<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
          Logout
        </a>
      </div>
    </div>
</nav>


<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
    </div>
  </div>
</div>


{{!-- How I will get my data to populate. --}}
<form id="createForm">
  {{!-- <div>
    <p>Add a new item to your inventory</p>
  </div> --}}

  <div class="form-group">
    {{!-- <label for="itemName">Item Name</label> --}}
    <div class="col-sm-2">
      <input type="text" class="form-control" id="itemName" placeholder="Item's Name" style="text-align: center;">
    </div>
  </div>

  <div class="form-group">
    {{!-- <label for="itemDescription">itemDescription</label> --}}
    <div class="col-sm-2">
      <input type="text" class="form-control" id="itemDescription" placeholder="Description" style="text-align: center;">
    </div>
  </div>

  <div class="form-group">
    {{!-- <label for="itemWeight">itemWeight</label> --}}
    <div class="col-sm-1">
      <input type="text" class="form-control" id="itemWeight" placeholder="Wgt." style="text-align: center;">
    </div>
  </div>

  <div class="form-group">
    {{!-- <label for="itemStorageLocation">itemStorageLocation</label> --}}
    <div class="col-sm-2">
      <input type="text" class="form-control" id="itemStorageLocation" placeholder="Storage Location" style="text-align: center;">
    </div>
  </div>

  <div class="form-group">
    {{!-- <label for="itemQuantityInStorage">itemQuantityInStorage</label> --}}
    <div class="col-sm-2">
      <input type="text" class="form-control" id="itemQuantityInStorage" placeholder="Qty. In Storage" style="text-align: center;">
    </div>
  </div>

  <div class="form-group">
    {{!-- <label for="itemQuantityInPackingList">itemQuantityInPackingList</label> --}}
    <div class="col-sm-2">
      <input type="text" class="form-control" id="itemQuantityInPackingList" placeholder="Qty. In Packing List" style="text-align: center;">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>


{{!-- Where the data will populate. --}}
<table class="table table-hover">
  <tr class="tableTitle">
    <thead>
      <tr class="thead-dark" style="opacity: 0.5;">
        <th class="item">Item</th>
        <th class="type">Description</th>
        <th class="type">Wgt.</th>
        <th class="item">Storage Location</th>
        <th class="onhand">Qty. On Hand</th>
        <th class="packed">Qty. Packed</th>
      </tr>
    </thead>

    {{!-- <h2>Gear Inventory List</h2> --}}
    <tbody>
      
      {{#each gearData}}
        <tr style="color: rgba(221, 221, 221, 1);">
          <td>{{dataValues.itemName}}</td>
          <td>
            <button style="opacity: 0.5" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
              Description
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Full Description</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="editDescription">View/Edit Description</label>
                      <input type="tel"  name="mobilePhone" class="form-control" id="editDescription" placeholder="{{ dataValues.itemDescription }}" required>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    <button type="button" id="saveModalButton" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    
                    {{!-- <div class="col-sm-2">
                      <button type="button" class="btn btn-sm btn-primary fas fa-pencil-alt noUnderlineCustom text-white" data-toggle="modal" data-target="#editModal">Edit</button>
                    </div> --}}
                  </div>
                </div>
              </div>
            </div>
          </td>

          <td>{{dataValues.itemWeight}}</td>
          <td>{{dataValues.itemStorageLocation}}</td>
          <td>{{dataValues.itemQuantityInStorage}}</td>
          <td>{{dataValues.itemQuantityInPackingList}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>


{{#section 'scripts'}}
<script type="text/javascript" src="js/gear.js"></script>
{{/section}}